<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Post Details</h1>
    <div class="post">
        <p><small>ID: <%=post.id%></small></p>
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
        <div class="post-actions">
            <a href="/posts" class="btn">Back to Posts</a>
        </div>
    </div>
</body>
</html>